
<% if flash[:alert].present? %>
  <div class="alert alert-danger">
    <span class="glyphicon glyphicon-exclamation-sign"></span>
    <%= flash[:alert] %>
  </div>
<% end %>
<center><h2>Log In</h2></center>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-group col-md-6 col-md-offset-3">
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, class: "form-control" %>
    </div>
  </div>
  
  <div class="form-group col-md-6 col-md-offset-3">
    <div class="field">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
    </div>
  </div>


  

<div class="form-group col-md-6 col-md-offset-3">
    <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>
  <div class="actions">
    <center>
    <%= f.submit "Log In", class: "btn btn-primary" %>
    </center>
  </div>
  </div>
<% end %>

<style>
  html,body{
    height:100%;
    width:100%;
    margin-top:20px;

  }
  .head{
    padding-bottom:20px;
  }
</style>