<%= form_for @t_file, :html =>  {:multipart => true}, url: t_files_path(@t_file) do |f| %>

    <%= f.hidden_field :classroom_id, :value => @classroom_id %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true, class:"form-control" %>
  </div>
  <br />
  <div class="field">
    <%= f.file_field :file, class: "form-control-file" %>
  </div>
<br />
  <div class="actions">
    <%= f.submit "Upload File", class: "btn btn-primary" %>
  </div>
  
<% end %>