<%= form_for @quiz, url: quizzes_path(@quiz) do |f| %>

    <%= f.hidden_field :classroom_id, :value => @classroom_id %>

  <div class="field">
    <%= f.label : date %><br />
    <%= f.date_field :date, autofocus: true %>
  </div>
  
 <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true %>
  </div>
  
  <div class="field">
    <%= f.label :eta %> <em>(in minutes)</em><br />
    <%= f.number_field :eta, autofocus: true %>
  </div>
  
  <div class="field">
    <%= f.label :rec_days %><br />
    <%= f.number_field :rec_days, autofocus: true %>
  </div>
  
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description, autofocus: true %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
  
<% end %>